.user {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background: orange; */
    color: black;
}

.user:hover {
    color: red;
    font-size: 20px;
}

.user-image {
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid black;
}

.user-name {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: space-between;
    font-size: 18px;
    /* background-color: red; */
}

.user-name:hover {
    font-size: 20px;
}

.user-xp-and-area {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.serial-number {
    margin-right: 20px;
}