.user-profile {
    width: auto;
    height: auto;
    /* height: 700px; */
    /* display: flex;
    flex-direction: column; */
    /* background-color: yellow; */
    /* margin: 20px 0px; */
    /* overflow: auto; */
    margin: 0px 20px;
}

.personal-info {
    height: auto;
    /* max-height: 400px; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* border: 1px solid black; */
    margin: 20px 0px;
    overflow: hidden;
    /* background-color: rgb(236, 236, 236); */
}

.user-image-div {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    /* border: 1px solid black; */
    background: rgb(243, 243, 243);
    /* box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.15); */
    /* border-radius: 6px; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* overflow: auto; */
}

.user-image-div-image {
    width: 140px;
    height: 140px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    /* margin-right: 20px; */
    border: 1px solid black;
}

.uidi-div {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.profile-image-in-user-profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.user-personal-info-div {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    /* background-color: darkblue; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 20px;
    /* border: 1px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.15);
    /* border-radius: 6px; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.upid-head {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    /* background-color: gray; */
    /* border: 1px solid black; */
}

.upid-body {
    display: flex;
    padding: 20px 0px;
    /* border: 1px solid black; */
}

.upid-body-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.upid-body-div-subdiv {
    margin-bottom: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.div-icon {
    margin-right: 10px;
}



/* --------------------------------------------------------------------------------------------------------------- */


.LAD-and-streak {
    min-height: 400px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* border: 1px solid black; */
    margin: 20px 0px;
    /* overflow: hidden; */
}

.last-added-distance {
    
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* background-color: red; */
    /* padding: 0px 20px;
    padding-bottom: 20px; */
}

.LAD-head {
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    /* background-color: lightpink; */
    /* border: 1px solid black; */
    /* background-color: blue; */
}

.head-header {
    /* text-align: center; */
    font-size: 30px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
}

.head-header-2 {
    /* text-align: center; */
    font-size: 22px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
}

.LAD-head-view-all {
    /* margin-left: 15px; */
    width: 130px;
    height: 50px;
    font-size: 20px;
    background-color: #2BB229;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.edit-button {
    /* position: absolute; */
    /* top: 5px;
    right: 0px; */
    width: 105px;
    height: 50px;
    font-size: 20px;
    background-color: #E73A40;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    line-height: 1.2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button:hover{
    cursor: pointer;
}

.block:hover {
    cursor: not-allowed;
}

.save-button {
    width: 105px;
    height: 50px;
    font-size: 20px;
    background-color: #2BB229;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    line-height: 1.2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor: pointer;
}

.edit-icon {
    margin: 0px 5px;
    margin-bottom: 2px;
}

.editable-input-field {
    /* border: none; */
    width: 100px;
    outline: none;
    color: #121212;
    font-family: 'Quicksand';
}

/* .editable-input-field-1 {
    border: none;
    outline: none;
    text-align: right;
    color: #121212;
} */

.edit-username {
    text-align: center;
}

.edit-email {
    width: 300px;
    overflow: auto;
}

.LAD-body {
    max-height: 300px;
    /* height: 80%; */
    /* border: 1px solid black; */
    overflow-y: scroll;
    /* margin-bottom: 10px; */
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
  }

.streak {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* background-color: red; */
    /* padding: 0px 20px;
    padding-bottom: 20px; */
}

.streak-head {
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.streak-body {
    max-height: 300px;
    overflow-y: scroll;
    /* border: 1px solid black; */
    margin-top: 20px;
}

.streaks-div {
    height: 100px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.streaks-divs-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.streaks-divs-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.head-header-2 {
    margin-top: 0px;
}

.duration {
    margin-bottom: 0px;
}

.fire-symbol {
    width: 20px;
    height: 20px;
}


/* --------------------------------------------------------------------------------------------------------------- */


.advanced-options {
    /* height: 10%; */
    height: 70px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 20px 0px;
    padding-left: 20px;
    text-align: center;
}

.ao-head {
    font-size: 30px;
    display: flex;
    position: relative;
    align-items: center;
}

.ao-button {
    background: rgb(243, 243, 243);
    border: none;
    font-size: 24px;
    color: #E73A40;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* line-height: 1.2; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.ao-button:hover{cursor: not-allowed;}

.play-icon {
    margin: 0px 20px;
}

/* ========================Edit Disabled Css========================================================================= */


.display-username {
    border: none;
    color: #121212;
    font-size: 20px;
    text-align: center;
}

.display-member-since {
    border: none;
    color: #121212;
    font-size: 14px;
    text-align: center;
    font-family: 'Quicksand';
}

.display-field {
    width: 300px;
    border: none;
    color: #121212;
    font-size: 16px;
    background-color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
}

.address {
    height: 70px;
    overflow: hidden;
    /* border: 1px solid black; */
}

textarea {
    resize: none;
    padding: 0px;
    line-height: 18px;
    /* border: 1px solid black; */
}

.address-outer-div {
    display: flex;
    align-items: flex-start;
}

.fullname-alternative {
    display: flex;
    /* border: 1px solid black; */
}

.display-firstname {
    margin-right: 5px;
    /* border: 1px solid black; */
}

.display-lastname {
    margin-left: 5px;
    /* border: 1px solid black; */
}

.customDatePickerWidth {
    position: absolute;
    /* background-color: #FFFFFF; */
}

.date-picker {
    height: 100%;
    /* overflow: auto; */
    display: flex;
    border: 1px solid black;
    position: relative;
}

.dob-picker {
    background-color: #FFFFFF;
    text-align: left;
    font-weight: 500;
    font-family: 'Quicksand';
}


